<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>UserName</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user:${allUsers}">
            <td th:text="${user.id}"/>
            <td th:text="${user.username}"/>
            <user th:each="role:${user.roles}">
                <td th:text="${role.name}"/>
            </user>
            <td>
                <form action="/admin" method="post">
                    <input type="hidden" name="userId" th:value="${user.id}"/>
                    <input type="hidden" name="action" value="delete"/>
                    <button type="submit">Delete</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    <a href="/">Главная</a>
</div>
</body>
</html>