<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>Главная</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<div sec:authorize="isAuthenticated()">
    <h3>
        Приветствую, <span th:text="${#request.getUserPrincipal().getName()}"></span>
    </h3>
</div>

<div sec:authorize="!isAuthenticated()">
    <h4>
        <a href="/login">Войти</a>
    </h4>
    <h4>
        <a href="/registration">Зарегистрироваться</a>
    </h4>
</div>

<div sec:authorize="isAuthenticated()">
    <h4>
        <a href="/logout">Выйти</a>
    </h4>
</div>
<div sec:authorize="hasAuthority('USER')">
    <h4>
        <a href="/news">Новости (только пользователь)</a>
    </h4>
</div>
<div sec:authorize="hasAuthority('ADMIN')">
    <h4>
        <a href="/admin">Пользователи (только админ)</a>
    </h4>
</div>
</body>
</html>